.header-container {
  display: flex;
  justify-content: space-around;
  background-color: #ccc;
}
.list {
  list-style-type: none;
  display: flex;
}
.list [data-role="item"] {
  padding: 3px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: blueviolet;
}
